/* Use this file for:
  - Gobal resets
  - Fonts
  - Colours
  - Utility classes
  - Layout scaffolding
  - Defaults shared across the entire app
*/

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --primary: #f9fafb;
  --text: #1f2937;
  --bg: #f9fafb;
  --sans-serif: "Fredoka";
  --mono: "Red Hat Mono";
}

* {
  margin: 0;
}

body {
  font-family: var(--sans-serif), sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
  color: var(--text);
}

p {
  font-weight: 100;
  font-size: 1.1rem;
}

small {
  font-family: var(--mono), monospace;
  font-size: 0.6rem;
}

.bold {
  font-weight: 500;
}

button {
  border: none;
  width: 8rem;
  height: 2.4rem;
  border-radius: 4px;
  background-color: var(--text);
  color: var(--bg);
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
button:hover {
  background-color: var(--primary);
  color: var(--text);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem);
  padding: 3rem 0;
  background-image: url("assets/wave.svg");
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.credits {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
